<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name %>的細項</title>
  </head>
  <body>
    <div>
      <% if (detail) { %>
      <ul>
        <li>產品細項: <%= detail.name %></li>
        <li>數量: <%= detail.quantity %></li>
        <li>顏色: <%= detail.color %></li>
        <li>進貨時間: <%= detail.arrivalDate %></li>
      </ul>
      <%}%>
    </div>
  </body>
</html>
