<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name %>的細項</title>
  </head>
  <body>
    <div>
      <ul>
        <% for( let detail of product.details) { %>
        <li>
          <a
            href="/product/<%= product._id %>/detail/detailInfo?detailId=<%= detail._id %>"
          >
            品項: <%= detail.name %>
          </a>
        </li>
        <%}%>
      </ul>
    </div>
    <form action="/product/<%= product._id %>?_method=DELETE" method="post">
      <button type="submit">刪除細項</button>
    </form>

    <a href="/product/<%= product._id%>/detail"> <p>新增細項</p></a>

    <a href="/product">回到產品列</a>
  </body>
</html>
