<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= products.name%>的細項</title>
  </head>
  <body>
    <h1><%= products.name%></h1>
    <ul>
      <% products.details.forEach((detail)=>{ %>
      <li>
        品項 :
        <a href="/stock/<%= products._id%>/<%= detail._id%>"
          ><%= detail.name%></a
        >
      </li>
      <%})%>
    </ul>
  </body>
</html>
